<footer>
	<div class="content-padding">
	 <div class="footer-content">
	 	<p> Copyright &copy; Gunasagar Pradhan </p>
	 	<div class="socila-media-icons">
	 	<a href="#"><i class="fa fa-empire"> </i> </a>
	 	</div>
	   </div>
</footer>